//PLANTILLA HEADER
doctype html
html(lang="pt")
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        //GOOGLE TAG MANAGER
        include ./googletagheader.html
        //FONTS - Raleway
        link(rel="stylesheet", href=href="https://fonts.googleapis.com/css?family=Raleway&display=swap")
        //SKELETON CSS
        style
            include ./css/normalize.css
            include ./css/skeleton.css
            include ./css/estilo.css
