html
    include ./includes/header.pug
    body
        
        include ./includes/navbar.html
        div(class="container center")
            div(class="row" id="top")
            h1
                |Escrevendo no 13ยบ Andar
            hr
            include ./includes/img/undraw_add_file_4gfw.svg
            hr
            each val in entradas
                div(class='blogpost')
                    |!{val.post} 
                    
                    |!{val.autor}
            hr
            a(class="button" href="#top")= "Home"
                


    include ./includes/footer.pug
        include ./includes/navbar.js    