html
    include ./includes/header.pug
    body
        
        include ./includes/navbar.html
        div(class="container center")
            div(class="row")
            h1
                |Blog
            hr
            include ./includes/img/undraw_add_file_4gfw.svg

            h3
                |Conteúdo em migração!
            br
            a(class="button" href="/")= "Home"


    include ./includes/footer.pug
            include ./includes/navbar.js    